:root {
  --color-primary-50: 1 68 33;
  --color-primary-100: 50 97 65;
  --color-primary-200: 89 127 100;
  --color-primary-300: 129 157 136;
  --color-primary-400: 170 189 174;
  --color-primary-500: 212 222 214;
  --color-primary-600: 255 255 255;
  --color-primary-700: 58 77 97;
  --color-primary-800: 89 104 121;
  --color-primary-900: 120 132 147;
  --color-primary-950: 186 192 200;
}
